Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -modernize-use-designated-initializers, # disable designated initializer suggestion
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-member-function-hidden,
  -cppcoreguidelines-owning-memory.NonOwningRawPointer,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-narrowing-conversions,
  -readability-misleading-binary-operator,
  -bugprone-suspicious-missing-parentheses,
  -clang-diagnostic-parentheses


WarningsAsErrors: ''

HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
